.user-form {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  max-width: fit-content;
  border: 2px solid rgb(77, 169, 255);
}

.user-form button {
  align-self: center;
  max-width: fit-content;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #e6edfa;
  border: 1px solid #94f3ff;
  font-size: 14px;
}

.user-form label {
  align-self: center;
}
