.header {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #66a5ad 30%, #003c46d0 100%);
  box-shadow: 0 2px 5px #66a5ad;
  z-index: 2;
  padding: 10px 0;
}

.copyright {
  display: flex;
  flex: 4;
  justify-content: space-between;
  box-sizing: content-box;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
  margin: 10px 20px;
  min-width: max-content;
  padding: 7px;
  background-color: #fff;
  text-align: center;
  box-shadow: -2px -2px 4px #003b46;
}

.title {
  min-width: fit-content;
  flex: 3;
  margin: 10px;
  align-self: center;
  text-align: center;
  color: #f8f8f8;
  font-size: 20px;
  font-weight: 500;
}

.header ul {
  flex: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-sizing: content-box;
  font-weight: 500;
}

.header li {
  flex: 1;
  margin: 0 10px 0 0;
  padding: 10px;
  min-width: max-content;
  border-left: 5px solid #66a5ad;
  transition: 0.5s ease-out;
}

.header li:hover {
  border-color: #c4dfe6;
  border-left: 5px dashed #c4dfe6;
}

.header a {
  text-decoration: none;
  padding: 10px;
}

.header a:visited {
  color: #003b46;
}
