.about-input {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #86c6ff2c;
  padding: 20px;
}

.about-input input {
  width: 400px;
  align-self: center;
}

.about-input button {
  align-self: center;
  box-sizing: content-box;
}

.about-input h2 {
  margin: 5px 0;
}
