.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  border: none;
  box-shadow: 0 0 3px #003b46;
  transition: 0.3s ease-in;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px #66a5ad;
}

.add {
  background-color: #003b46;
}

.remove {
  background-color: #66a5ad;
}
